@model List<Plantilla>

<h1>Plantilla</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Código Hospital
            </th>
            <th>
                Código Sala
            </th>
            <th>
                Número Empleado
            </th>
            <th>
                Apellido
            </th>
            <th>
                Funcion
            </th>
            <th>
                Turno
            </th>
            <th>
                Salario
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plantilla in Model)
        {
            <tr>
                <td>
                    @plantilla.HospitalCod
                </td>
                <td>
                    @plantilla.SalaCod
                </td>
                <td>
                    @plantilla.EmpleadoNo
                </td>
                <td>
                    @plantilla.Apellido
                </td>
                <td>
                    @plantilla.Funcion
                </td>
                <td>
                    @plantilla.Turno
                </td>
                <td>
                    @plantilla.Salario
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Plantilla" asp-action="Update" asp-route-idEmpleado="@plantilla.EmpleadoNo">Editar</a>
                    <a class="btn btn-danger" asp-controller="Plantilla" asp-action="Delete" asp-route-idEmpleado="@plantilla.EmpleadoNo">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>