@model Plantilla

<h1>Update Plantilla</h1>

<form method="post">
    <label>Código Hospital</label>
    <input type="text" name="HospitalCod" class="form-control" value="@Model.HospitalCod" />
    <label>Código Sala</label>
    <input type="text" name="SalaCod" class="form-control" value="@Model.SalaCod" />
    <label>Número Empleado</label>
    <input type="text" name="EmpleadoNo" class="form-control" value="@Model.EmpleadoNo" />
    <label>Apellido</label>
    <input type="text" name="Apellido" class="form-control" value="@Model.Apellido" />
    <label>Función</label>
    <input type="text" name="Funcion" class="form-control" value="@Model.Funcion" />
    <label>Turno</label>
    <input type="text" name="Turno" class="form-control" value="@Model.Turno" />
    <label>Salario</label>
    <input type="text" name="Salario" class="form-control" value="@Model.Salario" />
    <button class="btn btn-warning">Actualizar Plantilla</button>
</form>